{% extends "base.html" %}

{% block main %}

{% if prev and not prev.hidden %}
<div class="prev">
    <a href="{{ prev.reversed_url }}">Previous: <em>{{ prev }} at {{ prev.begins }}</em></a>
</div>
{% else %}
<div class="clearfix"></div>
{% endif %}

{% with i=0 %}

<div class="activity">
    <h2>{{ activity.date }}</h2>
    <h2>{{ activity.begins|date:"P" }} - {{ activity.name }}</h2>

    <div class="left">
        <p class="address">
            Going from: <strong>{{ prev.name }} - {{ prev.address }}</strong><br>
            Going to: <strong>{{ activity.address }}</strong>
        </p>
        {% if activity.ends %}
        <p>Ends at: <strong>{{ activity.ends }}</strong></p>
        {% endif %}
        {% if activity.notes %}
        <div class="notes">
            {{ activity.notes|linebreaks }}
        </div>
        {% endif %}
        <div id="panel-{{ i }}" class="panel"></div>
    </div>

    <div class="right">
        <div id="map-{{ i }}" class="map"></div>
    </div>

    <script type="text/javascript">
    $(document).ready(function() {
        var panel_div = document.getElementById('panel-{{ i }}');
        var service = new google.maps.DirectionsService();
        var renderer = new google.maps.DirectionsRenderer({
            panel: panel_div
        });
        var map = new google.maps.Map(document.getElementById('map-{{ i }}'), {
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        renderer.setMap(map);

        var request = {
            origin: '{{ prev.address }}',
            destination: '{{ activity.address }}',
            provideRouteAlternatives: true,
            unitSystem: google.maps.UnitSystem.METRIC,
            travelMode: google.maps.TravelMode.TRANSIT,
            transitOptions: {
                // FIXME: this may return incorrect results as day of the week could be different
                arrivalTime: new Date('{% now "Y-m-d" %}T{{ activity.begins|date:"c" }}-04:00') // FIXME: horrible
            }
        };

        // only perform routeindex firing when the user clicks an alternate route,
        // not while the route is still being generated
        var routing_complete = false;
        google.maps.event.addListener(renderer, 'routeindex_changed', function() {
            if (routing_complete) {
                $.post('{% url "set_route_index" %}', {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    id: {{ activity.id }},
                    route_index: renderer.getRouteIndex()
                });
            }
        });

        service.route(request, function(result, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                renderer.setDirections(result);
                {% if activity.route_index %}
                renderer.setRouteIndex({{ activity.route_index }});
                {% endif %}
            } else {
                var err = 'Error while routing: ' + status + ' (origin: "' + request.origin + '", dest: "' + request.destination + '")';
                console.log(err);
                panel_div.innerHTML = '<p class="error">' + err + '</p>';
            }
            routing_complete = true;
        });
    });
    </script>
</div>

<div class="clearfix"></div>

{% endwith %}

{% if next and not next.hidden %}
<div class="next">
    <a href="{{ next.reversed_url }}">Next: <em>{{ next }} at {{ next.begins }}</em></a>
</div>
{% endif %}

<p class="center"><a href="{% url 'overview' %}">Go to overview</a></p>

{% endblock %}
