{% extends "base.html" %}

{% block main %}

<div class="title">
    <h1>Itinerary for {{ this_date }}</h1>
    <p><a href="{% url 'list_dates' %}">Go back</a></p>
</div>

<hr>

{% for activity in activities %}
{% if not activity.hidden %}
{% with i=forloop.counter %}

<div class="activity">
    <h2>{{ activity.begins|date:"P" }} - {{ activity.name }}</h2>

    <div class="left">
        <p class="address">
            Going from: <strong>{{ activity.origin.name }} - {{ activity.origin.address }}</strong><br>
            Going to: <strong>{{ activity.address }}</strong>
        </p>
        {% if activity.notes %}
        <div class="notes">
            {{ activity.notes|linebreaks }}
        </div>
        {% endif %}
        <div id="panel-{{ i }}" class="panel"></div>
    </div>

    <div class="right">
        <div id="map-{{ i }}" class="map"></div>
    </div>

    <script type="text/javascript">
    $(document).ready(function() {
        var panel_div = document.getElementById('panel-{{ i }}');
        var service = new google.maps.DirectionsService();
        var renderer = new google.maps.DirectionsRenderer({
            panel: panel_div
        });
        var map = new google.maps.Map(document.getElementById('map-{{ i }}'), {
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        renderer.setMap(map);

        var request = {
            origin: '{{ activity.origin.address }}',
            destination: '{{ activity.address }}',
            provideRouteAlternatives: true,
            unitSystem: google.maps.UnitSystem.METRIC,
            travelMode: google.maps.TravelMode.TRANSIT,
            transitOptions: {
                // FIXME: this may return incorrect results as day of the week could be different
                arrivalTime: new Date('{% now "Y-m-d" %}T{{ activity.begins|date:"c" }}-04:00') // FIXME: horrible
            }
        };

        // only perform routeindex firing when the user clicks an alternate route,
        // not while the route is still being generated
        var routing_complete = false;
        google.maps.event.addListener(renderer, 'routeindex_changed', function() {
            if (routing_complete) {
                $.post('{% url "set_route_index" %}', {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    id: {{ activity.id }},
                    route_index: renderer.getRouteIndex()
                });
            }
        });

        service.route(request, function(result, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                renderer.setDirections(result);
                {% if activity.route_index %}
                renderer.setRouteIndex({{ activity.route_index }});
                {% endif %}
            } else {
                var err = 'Error while routing: ' + status + ' (origin: "' + request.origin + '", dest: "' + request.destination + '")';
                console.log(err);
                panel_div.innerHTML = '<p class="error">' + err + '</p>';
            }
            routing_complete = true;
        });
    });
    </script>
</div>

<div class="clearfix"></div>
<hr>

{% endwith %}
{% endif %}
{% endfor %}

{% endblock %}
