{% extends "base.html" %}
{% load admin_urls %}

{% block main %}

{% if groups %}
{% for date, items in groups %}
    <h1 class="center">{{ date }}</h1>
    <ol class="collapse">
        {% for activity in items %}

        <li><a href="{{ activity.reversed_url }}">
            <span class="left">{{ activity.begins|date:"H:i" }}</span>
            <span class="right"><em>{{ activity }}</em></span>
        </a></li>

        {% endfor %}
    </ol>
{% endfor %}
{% else %}
<p class="center">There are no activities to display. <a href="{% url 'admin:transit_activity_add' %}">Add one</a>.</p>
{% endif %}

{% endblock %}
