body {
    width: 100%;
    margin: 0;
}

h2 {
    margin: 0;
}

hr, .title {
    margin-bottom: 3em;
}

hr, .map {
    border: 1px solid #D8D8D8;
}

#wrapper {
    max-width: 50%;
    margin: 0 auto;
}

.map {
    width: 35em;
    height: 30em;
}

/* Google Maps API adds these dynamically */
.adp-warnbox, .adp-legal, .adp-agencies {
    display: none;
}

.clearfix {
    padding-bottom: 5em;
    clear: both;
}
.left {
    float: left;
    max-width: 48%;
}
.right {
    float: right;
    max-width: 48%;
}

p.address {
    color: #666;
}

p.error {
    color: red;
}

ol.collapse {
    list-style: none;
    width: 50%;
    margin: 0 auto;
}
div.prev, div.next {
    width: 100%;
}
ol.collapse a, div.prev a, div.next a {
    display: block;
    overflow: auto;
    padding: 1.25em;
    margin: 2em 0;
    border: 1px solid #D8D8D8;
    background-color: #BFEFFF;
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    text-align: center;
}

.center {
    text-align: center;
}
